
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome to Admin Panel</h1>
</div>

<ul>
    <li>@Html.ActionLink("Manage Users", "Users", "Admin", new { area = "Admin" }, new { @class = "btn btn-link" })</li>
    <li>@Html.ActionLink("Manage Homes", "Homes", "Admin", new { area = "Admin" }, new { @class = "btn btn-link" })</li>
</ul>


