@{
    ViewBag.Title = "About";
}

@section Styles {
    <link href="@Url.Content("~/Styles/about.css")" rel="stylesheet" type="text/css" />
}

<div class="image-box">
    <img src="http://100obekta.com/wp-content/uploads/2015/04/%E2%84%9674.-%D1%85%D0%B8%D0%B6%D0%B0-%D0%90%D0%BB%D0%B5%D0%BA%D0%BE-%D0%92%D0%B8%D1%82%D0%BE%D1%88%D0%B0-848x400.jpg" />
</div>
<div class="text-center">
    <h1>Sharenest</h1>
    <h3>Welcome!</h3>
</div>


<div class="row">
    <div class="col-lg-3 text-center element el1">
        <div class="element-major">
            <h3>Subject</h3>
        </div>
    </div>
    <div class="col-lg-8 text-center element element-minor">
        <p>Sharenest is free website for sharing homes with strangers. We do not change any activity.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 text-center element element-minor">
        <p>Our mission is to connect people and spread our love of adventures around the world. </p>
    </div>
    <div class="col-lg-3 text-center element el2">
        <div class="element-major">
            <h3>Mission</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 text-center element el3">
        <div class="element-major">
            <h3>Vision</h3>
        </div>
    </div>
    <div class="col-lg-8 text-center element element-minor">
        <p>Why don't you live with interesting new people? Why don't you need any help with your daily tasks? Why don't you travel the world and approach the different cultures?</p>
        <p class="moto">Share your emotions! Live Better!</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 text-center element element-minor">
        <p>Sharenest platform is found 30th of April 2017. In the begining it was only a course project and it is still a course project.</p>
    </div>
    <div class="col-lg-3 text-center element el4">
        <div class="element-major">     
            <h3>History</h3>
        </div>
    </div>
</div>