@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/Styles/index.css")" rel="stylesheet" type="text/css" />
}

<div class="welcome">
    <h1>Find your temporary home</h1>
    <p>
        If you are an adventerous person, Sharenest is the right site for you. Come here and find new friends, visit new places.
    </p>
    <p>@Html.ActionLink("Find Home", "Index", "Homes", new { area = "Homes" }, new { @class = "btn btn-default" })</p>
</div>
